.THIS .save_button_travel{
    margin-left:10px;
}
.THIS .text_display{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #58595b;
}
.THIS .mar_b_10{
    margin-bottom:18px;
}
.THIS .mar_b_5{
     margin-bottom:5px;
}

.THIS .UploadImg .slds-button__icon{
    display:none;
}
.THIS .upload_video lightning-primitive-icon{
     display:none;
}

.THIS .UploadImg {
    width: 32px;
    position: relative;
    top: 59px;
    left: 14px;
    z-index: 100;
    
}
.THIS  .upload_video .slds-file-selector__button {
    float: left;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #0CA3D9;
    text-transform: uppercase;
    height: 46px;
    line-height: 44px;
    text-align: left;
    background: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: solid 1px #0BA2D9;
    position: relative;
    cursor: pointer; 
    max-height:2.5em;
    padding: 0px 15px 0px 60px;
    
    

}
.THIS .upload_video .slds-file-selector_files .slds-file-selector__text{
    display:none;
}

.THIS .upload_video .slds-file-selector__dropzone{
    border-style : none;
}
.THIS .submt-video{
	margin-top: 0px;
}

.THIS .full {
    margin-top: 20px !important;
}

.THIS .marginLess {
    margin-top: -84px;
}