.THIS .displayFull{
    display : block !important;
}


.THIS {
    background: rgb(143,43,144);
    background: -moz-linear-gradient(top, rgb(143,43,144) 0%, rgb(53,103,177) 100%);
    background: -webkit-linear-gradient(top, rgb(143,43,144) 0%,rgb(53,103,177) 100%);
    background: linear-gradient(to bottom, rgb(143,43,144) 0%,rgb(53,103,177) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2b90', endColorstr='#3567b1',GradientType=0 );
    background-attachment: fixed;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    content: "";
}

.THIS .forgetPassword {
    float: right;
    display: inline;
    cursor : pointer;
}