<template>
  <template if:true={record}>
    <div class="slds-m-around_medium">
      <lightning-input
        type="Text"
        onchange={handleChange}
        label={labels.mobilePhone}
        placeholder={labels.mobilePhone}
        value={MobilePhone}
        name="MobilePhone"
        required={required}
      ></lightning-input>
    </div>
  </template>
  <template if:true={loading}>
    <div>
      Loading...
    </div>
  </template>
  <template if:true={error}>
    <div>Error</div>
  </template>
</template>
