.THIS .pillHeight{
    float: left;
    padding: 11px 22px 6px 20px;
    border: solid 1px #3c78ba;
    position: relative;
    border-radius: 5px;
    background: #fff;
    height: 46px;
	font-size: 16px;
    color: #3c78ba;
    cursor: pointer;
    margin: 0 10px 10px 0px;
    width: 100%;
}

.THIS .pointerClass {
    cursor: pointer;
}