/*============================Fonts css=========================*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

/*============================Fonts Face=========================*/
@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
         url('../fonts/Montserrat-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kjhjd2');
  src:  url('../fonts/icomoon.eot?kjhjd2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kjhjd2') format('truetype'),
    url('../fonts/icomoon.woff?kjhjd2') format('woff'),
    url('../fonts/icomoon.svg?kjhjd2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
  color: #656668;
}
.icon-snapchat:before {
  content: "\e907";
  color: #656668;
}
.icon-youtube:before {
  content: "\e908";
  color: #656668;
}
.icon-twitter:before {
  content: "\e904";
  color: #fff;
}
.icon-email:before {
  content: "\e900";
  color: #fff;
}
.icon-fb:before {
  content: "\e901";
  color: #fff;
}
.icon-gplus:before {
  content: "\e902";
  color: #fff;
}
.icon-heart:before {
  content: "\e903";
  color: #888a8c;
}




/*=================================*/
body {font-size:14px; padding:0px; margin:0px; font-weight:400; font-family: 'Lato', sans-serif; color:#58595b; background:#fff; line-height: 1.42857143; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
html, body{min-height:100%; height:100vh;}

*{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box;}
p{padding:0px; margin:0px;}
ul, li{padding:0px; margin:0px; list-style-type:none;}
a{text-decoration:none !important; transition: all 0.3s ease-in-out 0s; -webkit-transition: all 0.3s ease-in-out 0s; color:#0ca3d9;}
a:hover{color:#58595b;}
a img { border: none; }
.clearfix{clear:both;}
img { max-width: 100%; vertical-align: middle; border: 0;}
h1, h2, h3, h4, h5 {padding:0px; margin:0px; font-weight:900; font-family: 'Lato', sans-serif; line-height:1.1;}
.full{ width: 100%; float: left; }
.fleft { float: left !important; }
.fright { float: right !important; }
.clear { clear: both; font-size: 0px; }
.center { text-align: center; }
.right { text-align: right; }
.relative { position: relative;}
label{font-weight:normal;}
.container{width:100%; padding:0px 40px; margin:auto;}
.dis-block{ display:inline-block;}
.form-control {background: #fff; border: solid 1px #a3a3a3; height:44px !important; padding:6px 15px; display:inline-block; width:100%; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; font-size:16px; color: #494452;}
/*=================================*/
input::placeholder {color:#a3a3a3;  opacity: 1; font-size:16px;}
input:-ms-input-placeholder {color: #a3a3a3; font-size:16px;}
input::-ms-input-placeholder {color: #a3a3a3; font-size:16px;}
input::-webkit-input-placeholder {color: #a3a3a3; font-size:16px;}
.bdr-0{border:0px !important;}
h2{font-size:28px;}


.row{display:block; margin:0px -8px;}
.row:after{content:""; display:block; clear:both;}
.col-12{float:left; width:100%;}
.col-6{float:left; width:50%;}
.col-8{float:left; width:66.666667%;}
.col-4{float:left; width:33.333%;}
.col-3{float:left; width:25%;}
.col-2{float:left; width:16.666%;}

/*===============dashboard page==================*/

.bg-gradient{background: rgb(143,43,144); /* Old browsers */
background: -moz-linear-gradient(top, rgb(143,43,144) 0%, rgb(53,103,177) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2b90', endColorstr='#3567b1',GradientType=0 ); /* IE6-9 */ background-attachment:fixed;}


.comm-page-custom-afsregistrationpage:after{background: rgb(143,43,144); /* Old browsers */
background: -moz-linear-gradient(top, rgb(143,43,144) 0%, rgb(53,103,177) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2b90', endColorstr='#3567b1',GradientType=0 ); /* IE6-9 */ position:fixed; left: 0px; top: 0px; width: 100%; height: 100%; content: "";}

.comm-page-custom-applynowregister:after{background: rgb(143,43,144); /* Old browsers */
background: -moz-linear-gradient(top, rgb(143,43,144) 0%, rgb(53,103,177) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2b90', endColorstr='#3567b1',GradientType=0 ); /* IE6-9 */ position:fixed; left: 0px; top: 0px; width: 100%; height: 100%; content: "";}

.comm-page-custom-apply-now-register:after{background: rgb(143,43,144); /* Old browsers */
background: -moz-linear-gradient(top, rgb(143,43,144) 0%, rgb(53,103,177) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2b90', endColorstr='#3567b1',GradientType=0 ); /* IE6-9 */ position:fixed; left: 0px; top: 0px; width: 100%; height: 100%; content: "";}


.comm-page-custom-afsforgetpassword:after{background: rgb(143,43,144); /* Old browsers */
background: -moz-linear-gradient(top, rgb(143,43,144) 0%, rgb(53,103,177) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2b90', endColorstr='#3567b1',GradientType=0 ); /* IE6-9 */ position:fixed; left: 0px; top: 0px; width: 100%; height: 100%; content: "";}


.btn-default{display:inline-block; background:#0079c1; color:#fff !important; font-size:16px; font-weight:900; font-family: 'Lato', sans-serif; height:44px; line-height:44px; border:0px; text-align:center; padding:0px 25px; text-transform:uppercase; width:auto; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; vertical-align:top; cursor: pointer; -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none; border-radius: 3px; -webkit-border-radius:3px; letter-spacing: 1px;}
.btn-default:hover, .btn-default:focus, .btn-default.active{background:#0079c1 !important; color:#fff !important;}
.nav-wrap{float:left; width:100%; margin-top:25px; padding-left: 40px;}
.main-wrap{float:left; width:100%;}
.logo-main{float:left; width:100%; text-align: center;}
.logo-main img{width:130px;}
.menu-col{position:fixed; left:0px; top:0px; width:320px; height:100%; padding:35px 15px 0px 15px; color:#fff; z-index:999;}
.nav-wrap h2{ font-size:38px; margin-bottom:4px; font-weight:900; font-family: 'Lato', sans-serif;}


.body-right-col{float:left; width:100%; padding:0 0 50px 320px;}
.register-wrap{float:left; width:100%; text-align:center;}
.register-container{display:inline-block; width:450px; text-align:left; background:#fff; padding:30px; margin-top:80px;} 
.register-container h2{ font-size:14px; text-transform:uppercase; margin-bottom:10px; letter-spacing:1px;} 
.help-icon{width: 22px; height: 22px;  display: inline-block;  position: relative;  top:-2px;  margin-left: 5px; vertical-align:top;}
.signup-social-row{float:left; margin:0px -2%;  width:102%;}
.signup-social{float:left; margin:0px 0px 0px 2%; padding:0px 25px; width:48%; height:44px; text-align:center; color:#fff !important; font-size:16px; font-weight:900; font-family: 'Lato', sans-serif; border-radius:3px; -webkit-border-radius:3px; background:#4268a5;}
.signup-social span{display:inline-block; line-height:44px; position:relative; left:-8px;}
.signup-social:hover{background:#58595b !important; color:#fff !important;}

.signup-social > i{font-size:20px; float:left; padding:0px 10px 0 0px; line-height: 44px;} 
.signup-social.facebook{background:#4268a5;}
.signup-social.gmail{background:#e84334;}
.signup-social.with-email{background:#0BA2D9;}


.login-wrap{ margin-top:190px;}
.login-wrap .signup-social-row{ margin:0px; width:100%;}
.login-wrap .signup-social {margin: 0 0 10px 0px;  padding: 0px 32px;  width: 100%;}



.signup-or{margin:15px 0px 10px 0px; text-align:center; position:relative;}
.signup-or span{font-size:14px; text-transform:uppercase; display:inline-block; font-weight:900; font-family: 'Lato', sans-serif; background:#fff; padding:0px 10px; position:relative; z-index:2;}
.signup-or:before{height:1px; width:100%; position:absolute; left:0px; top:9px; background:#e1e2e3; content:""; z-index:0px;} 
span.req{color:#F00;}

label{font-size:16px; font-weight:700; font-family: 'Lato', sans-serif; color:#58595b; display:inline-block; width:100%; margin-bottom:6px;}
[class*="col-"]{padding:0px 8px;}
.form-group {margin-bottom: 20px; display:inline-block; width:100%; vertical-align:top;}
.italic-inp .form-control{font-weight:400; font-family: 'Lato', sans-serif; font-style: italic;}


.check_box {display: inline-block; vertical-align: top; margin:0px; width:100%; margin-bottom:10px;}
.check_box input[type="checkbox"] {display: none;}
.check_box input[type="checkbox"] + label {background:url(../images/chk.png) no-repeat left top; display: inline-block;	margin: 0;
min-height:21px; padding: 0 0 0 32px; text-align: left;	vertical-align: middle;	color: #939598;	font-size:14px;	cursor: pointer;
float: none; width: auto; line-height:21px; font-family: 'Lato', sans-serif; font-weight:400;}
.check_box input[type="checkbox"]:checked + label {background: url(../images/chk_a.png) no-repeat left top;}
.btn-row{text-align:center; margin-top:15px;}
.alredy-log-txt{float:left; width:100%; margin-top:10px; text-align:left; color:#939597; font-size: 13px;}
.alredy-log-txt a{font-weight:700; font-family: 'Lato', sans-serif; margin-left: 4px;}
.inp-full i{ position:absolute; right:10px; top:8px; width:22px;}
.inp-full{display:inline-block; vertical-align:top; width:100%; position:relative;}
.cld-inp .form-control{padding-right:32px;}


.inner-wrap{padding:40px;}
.user-name{float:none; width:auto; margin:25px 0 0px 40px; font-size:18px; text-transform:uppercase; font-weight:700; font-family: 'Lato', sans-serif; padding-left:40px; position:relative; display: inline-block; clear: both;}
.user-name i {position: absolute;  left: 0px;  top: -2px;  width: 28px;  height: 28px;  border-radius: 100%; -webkit-border-radius: 100%; overflow: hidden;}
.user-name i img{width: 100%; height: 100%; object-fit: cover; display:inline-block; vertical-align:top;}	
.user-name i.profileCircle{border: solid 2px #fff;}
.adv-slct-row{float:left; width:101%; margin:0px 0px 0px -1%;}
.adv-slct-col{width:19%; margin-left:1%; float:left;}
.adv-slct-col .bootstrap-select{width:100% !important;}
.inner-wrap h1{ font-size:36px; font-family: 'montserratbold'; color:#0BA2D9; margin-bottom:28px;}
.adv-slct-col.open .custom_select:after {border-left: solid transparent 6px;  border-right: solid transparent 6px; border-top: solid transparent 6px;  border-bottom: solid 6px #939598; top:12px;}


.custom_select{margin:0; background:#fff; position:relative; float:left; width:100%; border-radius:3px; -webkit-border-radius:3px; border:solid 1px #a3a3a3; font-size:16px; color:#494452; font-weight:700; font-family: 'Lato', sans-serif; padding:10px 20px 6px 20px; height:44px; cursor:pointer; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.custom_select:after {content: "";  position: absolute;  right: 15px;  top:18px;  border-left: solid transparent 6px;  border-right: solid transparent 6px; border-top: solid 6px #939598;}
.select-drop{border-radius:0px 0px 3px 3px; -webkit-border-radius:0px 0px 3px 3px; margin-top:-1px; border:solid 1px #a3a3a3; float:left; width:100%; background:#fff; position:relative; z-index:2;}
.select-drop ul{float:left; width:100%; padding:8px 8px 8px 12px;}
.select-drop ul li{float:left; clear: both; padding:4px 10px; margin:4px 0px; color:#58595b; font-size:13px; border-radius: 3px !important; -webkit-border-radius: 3px !important; border: 0px !important;}
.select-drop ul li span{ cursor:pointer; display:inline-block;}
.select-drop ul li.active span{background:#0079c1; color:#fff;}
.select-drop ul li strong{color:#4a4451;}
.srch-inp-row{padding:0px; position:relative;}
.srch-inp-row .srch-inp{ border:0px; border-bottom:solid 1px #d9d9d8; float:left; width:100%; padding:0px 10px; height:34px; line-height:34px; min-height:inherit;}
.srch-inp-row .btn-srch{position:absolute; right:0px; top:0px; border:0px; padding:0px; margin:0px; background:none; height:34px; width:32px; text-align:center; line-height:34px; border-radius: 0px;}

.adv-slct-col .btn-default,.adv-slct-col .btn-default:hover{background:#0da3d9;}
.multi-slct{float:left; width:100%; margin-top:40px;}
.multi-slct ul{float:left; width:100%;}
.multi-slct ul li{float:left; padding:3px 24px 4px 8px; border:solid 1px #3c78ba; position:relative; background:#fff; color:#3c78ba; cursor:pointer; margin:0 6px 6px 0px; font-size: 13px; font-weight: 300;}
.multi-slct ul li .option-close{position:absolute; right:6px; top:8px;}
.multi-slct ul li .option-close img{display: inline-block; vertical-align: top;}
.multi-slct ul li:hover{ background:#f5f5f5;}
.progrm-sec{float:left; width:100%;}
.comn-sec{padding-bottom:30px; margin-bottom:30px; border-bottom:solid 1px #d9d9d8; float:left; width:100%;}
.progrm-wrap{float:left; width:102%; margin-left:-2%;}


.title-row{float:left; width:100%; padding-bottom:25px; text-align:center;}
.title-row h2{font-size:16px; font-weight:700; font-family: 'Lato', sans-serif; color:#58595b;}

.progrm-box{float:left; width:31.333%; border:solid 1px #c4c6c8; color:#3e444f; position:relative; margin:0 0 2% 2%;}
.progrm-inner{float:left; width:100%; padding:15px; font-size:12px; height:230px;}
.progrm-title{padding-bottom:18px; margin-bottom:18px; border-bottom:solid 1px #c4c6c8;}
.progrm-title h3{font-size:16px; font-weight:900; font-family: 'Lato', sans-serif; color:#3e444f; margin-bottom:15px; float:left;}
.progrm-title h4{font-size:13px; text-transform:uppercase; font-family: 'Lato', sans-serif; font-weight:400; width:100%; float:left;}
.progrm-title h4 span{color:#3779ba; text-transform:capitalize; display:inline-block; padding-left:10px; }  
.progrm-inner label{font-size:13px; font-family: 'Lato', sans-serif; font-weight:400;}
.desti-cost-col{float:left; width:50%;}
.desti-cost-col label, .progrm-date label{float:left; width:100%; padding:0px; margin:0 0 3px 0px; text-transform:uppercase;}
.destiname{float:left; width:100%; padding:0px; font-weight:700; font-family: 'Lato', sans-serif; font-size:15px;}
.progrm-date{float:left; width:100%; margin-top:18px;}

.progrm-wrap [class*="col-"]{margin-bottom:2%;}
.select-progrm{position:absolute; left:0px; top:0px; background:#da365d; padding:6px 10px 10px 10px; color:#fff; text-transform:uppercase; z-index:900;}

.check_box_2 {display: inline-block; vertical-align: top; margin:0px; width:100%;}
.check_box_2 input[type="checkbox"] {display: none;}
.check_box_2 input[type="checkbox"] + label {background:url(../images/check.jpg) no-repeat left top; display: inline-block;	margin: 0;
min-height:18px; padding: 0 0 0 28px; text-align: left;	vertical-align: middle;	color: #fff; font-size:14px; font-weight:900; font-family: 'Lato', sans-serif;cursor: pointer; float: none; width: auto; line-height:18px; background-size:18px; margin:0px; text-transform:uppercase;}
.check_box_2 input[type="checkbox"]:checked + label {background: url(../images/checked.jpg) no-repeat left top; background-size:18px;}
.progrm-select{border-color:#da365d;}
.additional-sec{float:left; width:100%; margin-bottom:50px;}
.additional-sec h2{font-size:17px; font-weight:700; font-family: 'Lato', sans-serif; color:#58595b; margin-bottom:10px;}
.save-continue{float:left; width:100%;}


.adv-slct-col .btn-default{padding:0px 10px; text-transform:uppercase; width:100%;}
.progrm-wrap .row{margin:0px -1%}
.progrm-wrap .row [class*="col-"]{padding-left:1%; padding-right:1%;}
.progrm-wrap .row [class*="col-"]:after{clear:both; display:block; content:"";}



/*======= MOBILE MENU CSS =======*/
.overlay_menu{ background: #000000; height: 100%;    width: 100%; opacity: 0;  top: 0; left: 0; position: fixed; padding: 0; transition: opacity .5s; -webkit-transition: opacity .5s; z-index: -99; display: none;}
.overlay_menu.active {    opacity: 0.7; display: block;  z-index:100;}
.menu-icon{ width: 25px;  height: 19px; display: none;float: left; margin:26px 15px 0 10px; background: url('../images/menu-icon.png') no-repeat;}
.menu-icon.active {  background: url('../images/cross.png') no-repeat;}
.menu-close{  width: 25px;  height: 19px; display: block; float: left;  margin: 0;
background: url('../images/cancle-white.png') no-repeat; position: absolute; right: 20px; top :20px;}
#mobileMenu{ position:fixed; left: -300px; top :0; width: 300px; height: 100%;  z-index:888; transition: 400ms left; -webkit-transition: 400ms left;  -moz-transition: 400ms left;   -o-transition: 400ms left; padding: 94px 15px 15px 15px; background:#0070b9 url(../images/bg-body.png) left top repeat-x; z-index: 999;;}
.menuInner_wrap{	position: relative; height: 100%;  overflow-y: auto; -webkit-overflow-scrolling: touch; padding-bottom: 40px;}
#mobileMenu.openMenu{left: 0;}
.menuItemList{ list-style: none outside none; margin: 0; padding:82px 0px 0 0; float: left; width: 100%;}



.marT40{margin-top:40px;}

.custom-tooltip{position:relative;}
.tooltiptext{position:absolute; left:25px; bottom:0px; padding:10px 12px; border-radius:5px; -webkit-border-radius:5px; background:#F1F1F2; font-size:12px; font-weight:700; font-family: 'Lato', sans-serif; color:#3E444F; text-align:left; opacity:0; z-index:999; min-width:200px; font-style:normal; line-height:normal; visibility:hidden; transition:all ease 0.3s; -webkit-transition:all ease 0.3s; -moz-transition:all ease 0.3s; -o-transition:all ease 0.3s; text-transform:capitalize; letter-spacing:normal; text-transform:capitalize;}
.custom-tooltip:hover .tooltiptext{ opacity:1; visibility:visible; transition:all ease 0.3s; -webkit-transition:all ease 0.3s; -moz-transition:all ease 0.3s; -o-transition:all ease 0.3s;}
.custom-tooltip .tooltiptext::after {content: "";  position: absolute;  bottom:10px;  left:0px;  margin-left: -6px;  border-top:solid 6px transparent; border-bottom:solid 6px transparent; border-right:solid 6px #F1F1F2;}
	

.hide {display: none;}
.show {display: block;}

.custom_select_2{display:inline-block; width:100%; position:relative;}
.custom_select_2 select{white-space: nowrap; text-overflow: ellipsis; -moz-appearance:none; -webkit-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none;}

.inner-wrap h1 span{float:left; font-size:16px; color:#58585B; width:100%; line-height:normal !important; margin-top:5px; font-weight:700; font-family: 'Lato', sans-serif;}
.details-wrap{float:left; width:100%; margin-top:40px;}
.details-col{float:left; width:660px; position:relative;}
.details-wrap h2{font-size:20px; margin-bottom:18px; font-weight:900; font-family: 'Lato', sans-serif;}
.comn-form .form-control{font-weight:400; font-family: 'Lato', sans-serif; font-style: italic;}
.details-row{float:left; width:100%; margin-bottom:40px;}


.radio_col {
  float: left;
  padding-right: 20px;
}
.radio_col label{position:relative; margin:5px 0px;}
.radio_col input[type="radio"] {display: none;}
.radio_col input[type="radio"] + label {font-weight:normal; display: inline-block; min-height:20px; padding: 0 0px 0 25px;	text-align: left; vertical-align: middle;	color: #5b5b5b; cursor: pointer; float: none;	width: auto; font-family: 'Lato', sans-serif; font-weight:400; font-size:14px;}

.width-0 {	float: left;width: auto;padding-right: 20px;padding-left: 10px;}
.width-1{float:left; width:20%;}
.radio_col input[type="radio"] + label:before{position:absolute; left:1px; top:2px; width:16px; height:16px; border-radius:100%; border:solid 1px #939597; content:"";}
.radio_col input[type="radio"]:checked + label:after{position:absolute; left:4px; top:5px; width:10px; height:10px; border-radius:100%; background:#007ac2; content:"";}
.pad-0{padding:0px !important;}
.radio-wrap{margin:5px 0px;}


.doted-box{border:dashed 1px #b8b8b8; position:relative;}
.marB_0{margin-bottom:0px !important;}
.marR{ margin-right:15px;}
.dtl-box{padding:15px 0px;}
.bdr-btm{border-bottom:dashed 1px #b8b8b8;}
textarea.form-control{height:100px !important;}




/*===============6/8/18==========*/
.siteforceStarterBody .cCenterPanel {max-width: 100% !important; float: left; width: 100% !important;  padding: 0px !important;  margin: 0px !important;}
.cAFSApplication_Search_Program .higlightvalue, .cAFSApplication_Search_Program .Unhiglightvalue {border: 0 !important;  margin: 4px 0px !important;  padding:2px 8px;}
.progrm-img {height: 200px;  width: 100%;  position: relative; text-align: center; background: #f1f1f1;}
.progrm-img img {max-width: 100% !important;  max-height: 100% !important; width: 100%; height:100%; padding: 0px;  margin: 0px;}
.slds-col_padded, .slds-col--padded {padding: 0 !important;}
.noImageText {position: absolute;  left: 0;  width: 100%;  text-align: center;  bottom: 10px;}


/*======================= new css add page no.6 ======================*/
.conditional_text {	color: #58595b;	font-size: 11px; text-transform: none;margin-left: 10px; position:absolute; left:100%; top:0px; white-space:nowrap;}
.conditional_text-2 {	color: #58595b;	font-size: 11px; text-transform: none;margin-left: 10px; position:absolute; left:100%; top:100px; white-space:nowrap;}

.birthdate_text{ right:-193px;}
.highschool_text{ right:-207px; margin-top:70px;}
.personal_details_2{}.col-1{ width:8.33333333%;float: left;}
.col-2{ width:16.66666667%;float: left;}
.col-3{ width:25%; float:left;}
.btn-primary {	color: #fff;	background-color: #0da3d9;	padding:0px 25px; height: 44px; line-height: 44px;	font-size: 16px; border-radius: 3px; -webkit-border-radius: 3px; border: none;	font-weight:900; cursor:pointer; font-family: 'Lato', sans-serif; text-transform: uppercase;}
.btn_wrap{ float:left; width:100%; margin-top:15px;}

.lifestyle-list{float: left; width: 100%; margin-bottom:15px;}
.lifestyle-list li { float: left; width:25%; margin-bottom:0px; color: #5b5b5b;}
.lifestyle-list-1 li {width:33.333%;}
.lifestyle-list .radio_col input[type="radio"] + label{margin:5px 0px;}

.detail_content {max-width: 900px;	width: 100%; float:left;clear: both;padding: 0px;margin-top: 25px;}
.languages_section{ margin-top:25px;}
.pdngL{ padding-left:0px; padding-right:30px; position:relative;}



.blue_btn{ background-color:#0079c1;}
.btn-primary:hover{ background-color:#0da3d9;}
.personal_details_2 .details-wrap { margin:0px;}
.health_lifestyle_bx .detail_content {margin-top: 10px;}
.marB40{ margin-bottom:40px;}

/*======================= Screen 7 css ======================*/
.main-title{margin-bottom:25px;}
.main-title h1{margin:0 0 12px 0 !important;}
.main-title p {float: left;  font-size:16px; color: #58585B;  width: 100%; line-height: normal !important; font-weight:700; font-family: 'Lato', sans-serif; padding:0px; margin:0px;}
.knowyou-col{width:600px; float:left;}
.looking-row{margin-bottom:25px;}
.looking-list{float:left; width:102%; margin-left:-2%;}
.looking-list li{float:left; width:31.333%; margin:1% 0px 1% 2%; font-size:16px; color:#fff; text-align:left; padding:8px 15px; border-radius:4px; -webkit-border-radius:4px; background:#b2b3b6; cursor:pointer;}
.looking-list li.active{background:#15a3da;}

.expprogrm li{float:left; width:100%;}

.submisin-top{ background:#f3f3f4; padding:40px 40px 0px 0px; float:left; width:100%; position: relative;}
.prof-circle{ width:340px; float:left; text-align:center; position:relative;}
.submisn-dtl{display:block; padding-left:340px; padding-top: 30px;}
.submisn-dtl:after{content: ""; clear: both; width: 100%;}
.submisn-dtl p{display:inline-block; width:100%;}
.title-1 h1{ font-size:36px; font-family: 'montserratbold'; color:#0BA2D9; margin-bottom:12px !important;}
.program-list-row{float:left; width:102%; margin-left:-2%; margin-top:10px;}
.program-list-col{float:left; width:23%; margin-left:2%;}
.program-list-col h3{font-weight:900; font-family: 'Lato', sans-serif; font-size:13px; text-transform:uppercase; color:#58585B; margin-bottom:10px; letter-spacing:3px;}
.program-list-col li{font-weight:900; font-family: 'Lato', sans-serif; color:#3E444F; font-size:16px; margin-bottom:10px;}

.profile-nav-row{float:left; width:100%; margin-top:38px;}
.profile-nav{float:left;}
.profile-nav li{float:left; margin:0 3px 3px 0px;}
.profile-nav li a{float:left; width:48px; height:42px; text-align:center; line-height:42px; background:#fff;}
.profile-nav li.active a{height:45px; margin-bottom:-3px; display:inline-block;}
.prof-cmplet-txt{color:#9d9fa2; font-size:12px; font-weight:400; font-family: 'Lato', sans-serif; font-style: italic; padding:12px 0 0 20px; float:left;}
.comn-row{float:left; width:100%; margin-bottom:40px; color:#48484a;}
.title-2{font-weight:900; font-family: 'Lato', sans-serif; color:#48484a; margin-bottom:15px; font-size:18px;}
.comn-row p{font-size:14px; padding:0px; margin:0px;}
.keep-row{float:left; width:100%; border-radius:6px; padding:18px 18px 18px 40px; margin-bottom:20px; background:#4863ae; color:#fff;}
.keep-icon{float:left; width:95px;}
.keep-txt{padding:14px 0 0 140px; display:block; }
.keep-txt h2{font-size:26px; font-family: 'montserratbold'; color:#fff; margin-bottom:8px;}
.keep-txt h3{font-size:14px; font-weight:700; font-family: 'Lato', sans-serif; color:#fff;}

.gradient-1{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f47929+0,ed145a+100 */
background: rgb(244,121,41); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgb(244,121,41) 0%, rgb(237,20,90) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgb(244,121,41) 0%,rgb(237,20,90) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgb(244,121,41) 0%,rgb(237,20,90) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47929', endColorstr='#ed145a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.gradient-2{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#91278f+0,007ac2+100 */
background: rgb(145,39,143); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgb(145,39,143) 0%, rgb(0,122,194) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgb(145,39,143) 0%,rgb(0,122,194) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgb(145,39,143) 0%,rgb(0,122,194) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91278f', endColorstr='#007ac2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}

.gradient-3{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bebe32+0,00aeef+100 */
background: rgb(190,190,50); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgb(190,190,50) 0%, rgb(0,174,239) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgb(190,190,50) 0%,rgb(0,174,239) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgb(190,190,50) 0%,rgb(0,174,239) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebe32', endColorstr='#00aeef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ margin-bottom:0px;}

.gradient-4{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4792a+0,ffd503+100 */
background: rgb(244,121,42); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgb(244,121,42) 0%, rgb(255,213,3) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgb(244,121,42) 0%,rgb(255,213,3) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgb(244,121,42) 0%,rgb(255,213,3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4792a', endColorstr='#ffd503',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ margin-bottom:0px;}

.msg-send-inp .form-control{float:left; width: calc(100% - 100px); font-weight:400; font-family: 'Lato', sans-serif; font-style: italic;}
.msg-send-inp .btn-default{float:right; padding:0px 24px; margin-left: 10px;}

.advisor-wrap, .msg-send-inp{float:left; width:100%;}
.advisor-pic-txt{float:left; width:100%; border-bottom:solid 1px #c9cacb; position:relative; min-height:80px; padding-bottom:20px; margin-bottom:10px;}
.advisor-txt h4{font-weight:700; font-family: 'Lato', sans-serif; color:#48484a; margin-bottom:8px; font-size:16px;}
.advisor-txt h4 span{ color:#0079c1;}
.msg-send-inp{margin-bottom:25px; display: flex; }
.advisor-pic {border-radius: 100%; -webkit-border-radius: 100%; overflow: hidden; width:80px; height:80px; float:left;}
.advisor-pic img{ max-height:100%; max-width:100%;}
.advisor-txt{display:block; padding:12px 0 0 100px;}
.advsr-like-cmnt{color:#58595b; margin-bottom: 15px;}
.advir-like{float:left; cursor:pointer;}
.advir-like span{ display:inline-block; font-size:14px; margin-right:5px; position:relative; bottom:0px;}
.advsr-like-cmnt a, .advsr-like-cmnt a:hover{border:0px; color:#58595b; background:none;}

.social-col{float:left; margin-right:20px; width:280px;}
.social-btn{float:left; margin:0px; padding:0px; height:40px; color:#fff !important; font-size:14px; font-weight:900; font-family: 'Lato', sans-serif; border-radius:4px; background:#4268a5; width:100%;}
.social-btn span{display:inline-block; line-height:40px;}
.social-row{float:left; width:100%; padding-top:10px;}
.social-btn > i{font-size:18px; float:left; padding:10px 20px 0 30px;}
.social-btn.facebook{background:#4268a5;}
.social-btn.twitter{background:#0da3d9;}
.weblink{float:right; padding:10px 0 0 0px; color:#58595b !important; font-size: 13px;}
.weblink a{color:#58595b !important;}

.mail-txt{color:#58585B; font-size:18px; font-weight:900; font-family: 'Lato', sans-serif;}

.mar0{margin:0px;}
.home-withyou h3{font-size:18px; font-weight:700; font-family: 'Lato', sans-serif; margin-bottom:12px;}
.withyou-row{float:left; width:102%; margin-left:-2%;}

button, *{outline:none !important;}
.withyou-col{width:188px; float:left; margin-left:2%; height:38px; line-height:38px; border-radius:4px; color:#fff; font-size:14px; margin-bottom:2%;}
.bg-blue{background:#0da3d9; padding-left:15px;}
.bg-gray{background:#b2b4b6; padding-left:15px;}
.colmn-1{width:188px; float:left;}
.colmn-2{width:272px; float:left;}
.colmn-3{width:170px; float:left;}

.count-col{width:80px; float: right; padding-right:8px;}
.count-inp{ width:34px; background:none; border:0px; text-align:center; outline:none; box-shadow:none !important; color:#fff; font-weight:700; font-family: 'Lato', sans-serif; font-size:14px;}
.btn-pls-mins{background:none; color:#fff; border:0px; font-size:20px; cursor:pointer; padding:0px; margin:0px; float:left; font-weight:700; font-family: 'Lato', sans-serif; padding:4px; line-height:12px !important; margin-top:8px;}
.bold-font{font-family: 'Lato', sans-serif; font-weight: 700; font-size:18px;}

.count-col input::placeholder {color:#fff;  opacity: 1;}
.count-col input:-ms-input-placeholder {color: #fff;}
.count-col input::-ms-input-placeholder {color: #fff;}
.count-col input::-webkit-input-placeholder {color: #fff;}
.withyou-name{float:left;}
.prof-circle .prof-close{ position:absolute; right:80px; top:-20px; cursor:pointer;}
.social-ac-wrap{margin-bottom:25px;}
.title-wrap, .photos-wrap{margin-bottom:40px;}
.title-wrap p {float: left; font-size: 16px; color: #58585B; width: 100%; line-height: normal !important; font-family: 'Lato', sans-serif; font-weight:400; padding: 0px; margin:0px;}
.title-wrap .title-2{margin-bottom: 8px;}
.social-ac-label{float:left; width:150px; margin-top:4px;}
.social-ac-inp{float:left; width:300px; margin-left:20px;}
.social-ac-row{float:left; width:100%; margin-bottom:15px;}
.social-ac-row .font-icon{width:60px; text-align:center; float:left;}
.social-ac-row .font-icon:before{font-size:18px; color:#646668 !important;}

.photo-row, .accordin-wrap{float:left; width:100%;}
.accordin-wrap{margin-bottom:35px; padding-bottom:35px; border-bottom:solid 1px #c9cacb;}
.photo-col{float:left; position:relative; margin:0 20px 15px 0px;}
.photo-circle{ width:120px; height:120px; text-align:center; border-radius:100%; -webkit-border-radius:100%; color:#fff; float:left; cursor:pointer;}
.photo-close{position:absolute; right:0px; top:0px; cursor:pointer;}
.photo-circle em{margin:22px 0 10px 0px; display:inline-block; }
.photo-circle span{display:inline-block; width:100%; font-size: 12px;}

.religious-drop{margin:10px 0 15px 0px;}
.width-3{width:300px; float:left;}
.width-4{width:400px; float:left;}
.comn-row-2{margin-bottom:15px; width:100%; float:left;}

.italic{font-weight:400; font-family: 'Lato', sans-serif; font-style: italic;}
.hide, .scolrsp-content{display:none;}
.show{display:block;}

.scolrsp{ border-radius:5px; -webkit-border-radius:5px; padding:13px 30px 13px 15px; background:#e9eaeb; font-size:16px; position:relative;}
.scolrsp.open{background:#15a3da; color:#fff;}
.scolrsp .scolr-name{display:inline-block; color:#0BA2D9;}
.scolrsp .apply-by{font-family: 'Lato', sans-serif; font-weight:400; display:inline-block; padding-left:60px; color:#58585B;}
.scolrsp.open, .scolrsp.open .scolr-name, .scolrsp.open .apply-by{color:#fff;}
.scolrsp-content{padding:15px 0px 0px 0px; float:left; font-size:15px;}
.scolrsp-content p{margin-bottom:15px;}
.gpa{margin-bottom:6px;}
.accordin-row{float:left; width:100%; margin-bottom:15px;}


/* Checkbox Styling */
.custom-check {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size:16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; width:auto; vertical-align: top;
}

/* Hide the browser's default checkbox */
.custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.custom-check .checkmark {
    position: absolute;
    top: -2;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff; border:solid 1px #15a3da;
}


/* Create the checkmark/indicator (hidden when not checked) */
.custom-check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
    left:8px;
    top:4px;
    width: 5px;
    height: 10px;
    border: solid #15a3da;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*=======Check End============*/



.scolrsp:after{content: "";  position: absolute;  right:18px;  top: 15px;  border-left: solid #626366 7px;  border-top: solid transparent 7px; border-bottom: solid transparent 7px;}
.scolrsp.open:after{border-left: solid #fff 7px; border-top: solid transparent 7px; border-bottom: solid transparent 7px; -webkit-transform: rotate(90deg);
-ms-transform: rotate(90deg); transform: rotate(90deg);}

.discover-row{float:left; width:100%;}
.video-row{margin-bottom:25px;}
.video-row h2{ font-size:24px; font-weight:700; font-family: 'Lato', sans-serif; float:left; width:100%; margin-bottom:15px; color:#0BA2D9;}
.video-row h3{ font-size:16px; font-weight:700; font-family: 'Lato', sans-serif; float:left; width:100%; margin-bottom:15px; color:#85878A; text-transform:uppercase;}
.video-row h4{ font-size:16px; font-weight:700; font-family: 'Lato', sans-serif; float:left; width:100%; margin-bottom:10px; color:#85878A;}
.video-container{float:left; width:80%;}
.video-sec{margin-bottom:25px; float:left; width:100%;}
.video-dtl{padding:0px; margin:0px; width:100%; float:left;}
.video-dtl li{padding:0px 0 0 25px; margin:0px 0 8px 0px; width:100%; float:left; position:relative;}
.video-dtl li:before{ width:14px; height:14px; border-radius:100%; -webkit-border-radius:100%; border:solid 1px #0BA2D9; position:absolute; left:0px; top:2px; content:"";}
.padd-3{padding-top:40px;}
.padd-4{padding-top:60px;}
.link-2{font-size:15px;}
.aplictn-btns, .fee-cover{float:left; width:100%; margin:10px 0 40px 0px; padding-bottom:40px; border-bottom:solid 1px #c9cacb;}
.btn-doc-submt{border:dotted 1px #aeafb2; padding:10px 15px; font-size:15px; color:#58585B; background:#fff; text-transform:uppercase; display:inline-block; margin:6px 0 0 40px;}
.btn-doc-submt span{ text-transform:lowercase; padding-right:10px; display:inline-block;}
/*.aplictn-btns .btn-default{height: 50px; line-height: 50px;}*/

.fee-cover h4{ font-size:16px; font-weight:900; font-family: 'Lato', sans-serif; float:left; width:100%; margin-bottom:20px; color:#58585B; text-transform:uppercase; letter-spacing:1.2px;}
.fee-cover ul li{padding:0px 0 0 30px; margin:0px 0 8px 0px; width:100%; float:left; position:relative; font-weight:700; font-family: 'Lato', sans-serif; font-style: italic; color:#58585B;}
.fee-cover ul li:before{ width:18px; height:18px; position:absolute; left:0px; top:2px; content:""; background:url(../images/tick-icon.svg) left top no-repeat; background-size:100%;}
.fee-cover ul li:last-child{margin-bottom:0px;}
.aplictn-fee{float:left; width:100%; margin:5px 0px 30px 0px; font-size:28px;}

.pay-options{ margin-bottom:15px;}
.slct-btns{background:#fff; border:solid 2px #0da3d9; color:#0da3d9; padding:10px 20px 10px 68px; position:relative; font-size:16px; font-weight:700; font-family: 'Lato', sans-serif; text-transform:uppercase; border-radius:5px; -webkit-border-radius:5px; margin:0 0 15px 0px; float:left; clear:both; text-align:left;}
.slct-btns.active{background:#0da3d9; border:solid 2px #0da3d9; color:#fff;}
.slct-btns .pay-icon{position:absolute; left:15px; top:12px;}
.slct-btns .pay-icon-1{ display:inline-block;}
.slct-btns .pay-icon-2{ display:none;}
.slct-btns.bank .pay-icon{ top:5px;}
.slct-btns.checkbook .pay-icon{ top:10px;}
.slct-btns.active .pay-icon-1{ display:none;}
.slct-btns.active .pay-icon-2{ display:inline-block;}
.pay-options h3{ font-size:16px; font-weight:900; font-family: 'Lato', sans-serif; float:left; width:100%; margin-bottom:15px; color:#58585B; text-transform:uppercase; letter-spacing:1px;}

.pay-adrs p{margin-bottom:10px;}


.custom-radio input[type="radio"]{display:none;}
.custom-radio input[type="radio"]:checked,
.custom-radio input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.custom-radio input[type="radio"]:checked + label,
.custom-radio input[type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    line-height: 22px;
    display: inline-block;
    color: #231F20; border:solid 1px #0BA2D9; padding:10px 22px 10px 52px;  border-radius:5px;
}
.custom-radio input[type="radio"]:checked + label{background:#0BA2D9; color:#fff;}
.custom-radio input[type="radio"]:checked + label:before,
.custom-radio input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left:15px;
    top:9px;
    width: 22px;
    height: 22px;
    border: 1px solid #15a3da;
    border-radius: 100%; -webkit-border-radius: 100%;
    background: #fff;
}
.custom-radio input[type="radio"]:checked + label:after,
.custom-radio input[type="radio"]:not(:checked) + label:after {
    content: '';
    width:5px;
    height: 10px;
    position: absolute;
    top:14px;
    left:24px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
	
	border: solid #15a3da;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-radio input[type="radio"]:not(:checked) + label:after {
    opacity: 0; -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.custom-radio input[type="radio"]:checked + label:after {
    opacity: 1; -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.camp-slct-col{float:left;}
.custom-radio .camp-slct label{width:auto; margin:0px 0 12px 0px;}
.camp-slct{display:block;}
.camp-slct:last-child label{margin:0px;}
.camp-slct-col .weblink{padding:0px;}

.title-3{float:left; width:100%; margin-bottom:25px;}
.title-3 h1, .title-3 h2{font-size:32px; font-family: 'montserratbold'; color:#0BA2D9; margin-bottom:8px !important;}
.title-3 p{font-size:16px;}

.steps-sec{float: left; width: 100%; margin-bottom:30px; padding-bottom: 30px; border-bottom: solid 1px #c9cacb;}
.steps-sec h5{ margin-bottom:15px; font-weight:900; font-family: 'Lato', sans-serif; color:#58585a; font-size:14px;}
.title-wrap-2{float:left; width:100%; margin-bottom:25px;}
.title-wrap-2 h2{margin-bottom:12px; font-weight:900; font-family: 'Lato', sans-serif; color:#484849; font-size:22px;}
.title-4{position:relative; display: inline-block;}
.title-4 h1{ font-size:36px; font-family: 'montserratbold'; color:#0BA2D9; margin-bottom:12px;}
.title-4 h1 em{display:inline-block; margin:0px 10px; position:relative; top:-2px; width:76px;}
.change-prog{position:absolute; left:104%; top:0px; text-transform:uppercase; font-weight:900; font-family: 'Lato', sans-serif; color:#58585B; font-size:10px; padding-left:30px; cursor:pointer; white-space: nowrap;}
.change-prog span{position:absolute; left:15px; top:-2px; width:10px;}
.complte-txt{font-size:13px; font-weight:400; font-family: 'Lato', sans-serif; font-style: italic; color:#939597; padding-top:25px;}
.exchnge-prog{display:inline-block; margin-left:15px; width:30%;}
.exchnge-prog .form-control{width:100% !important;}

.frm-dwnlod{float:left; width:100%; margin-bottom:35px;}
.btn-frm-dwnlod{float:left; font-size:16px; font-weight:700; font-family: 'Lato', sans-serif; color:#231F20; text-transform:uppercase; padding:0 22px 0 60px; height:46px; line-height:44px; text-align:left; background:#fff; border-radius:4px; -webkit-border-radius:4px; border:solid 1px #0BA2D9; position:relative; cursor:pointer;}
.btn-frm-dwnlod i{position:absolute; left:16px; top:-2px; width: 24px;}

.includ-sec{float:left; width:100%; margin-bottom:40px;}

.includ-list{ display:block; margin:0px -5px;}
.includ-list li{display:inline-block; width:186px; margin:5px; font-size:16px; color:#fff; text-align:left; padding:10px 46px 10px 15px; border-radius:4px; -webkit-border-radius:4px; background:#b2b3b6; cursor:pointer; vertical-align:top; position:relative;}
.includ-list li.active{background:#15a3da;}
.includ-list li i{ position:absolute; right:15px; top:7px; width:25px;}

.includ-sec h3{ font-size:18px; font-family: 'Lato', sans-serif; font-weight:400; margin-bottom:10px;}

.drgdrop-sec{float:left; width:100%; margin-bottom:25px;}
.drgdrop-sec h3{font-size:18px; font-weight:900; font-family: 'Lato', sans-serif; margin-bottom:20px; float:left; width:100%;}
.drgdrop-box{float:left; width:40%; height:550px; border:dotted 1px #929497; position:relative; cursor:pointer;}
.drgdrop{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); text-align:center;}
.drgdrop .drgdrop-icon{float:left; width:100%; margin-bottom:25px;}
.drgdrop h2{ font-size:36px; font-weight:900; font-family: 'Lato', sans-serif; margin-bottom:4px;}
.drgdrop p{font-size:18px; color:#58585B;}
.drgdrop p a{color:#0079C2; text-decoration:underline !important;}
.drgdrop-right{float:left; padding-left:40px; width:50%;}

.upload-files-wrap ul{float:left; width:100%;}
.upload-files-wrap ul li{float:left; width:100%; margin-bottom:20px; padding:0 0 20px 70px; border-bottom:solid 1px #c9caca; position:relative;}
.upload-files-wrap ul li:last-child{border-bottom:0px;}
.upload-files-wrap ul li i.file-formet{ position:absolute; left:0px; top:3px; width:52px;}
.up-file-name{float:left; width:100%; font-size:18px; font-weight:700; font-family: 'Lato', sans-serif; color:#58585B; margin-bottom:8px; padding-right:32px;}
.file-progrs{float:left; width:100%; background:#d8d9da; border-radius:10px; -webkit-border-radius:10px; height:10px; margin-bottom:8px; position:relative;}
.up-txt{float:left; width:100%; font-size:16px; font-weight:400; font-family: 'Lato', sans-serif; font-style: italic; color:#939597;}
.upload-progress{ background:#0BA2D9; position:absolute; left:0px; top:0px; border-radius:10px; -webkit-border-radius:10px; height:10px;}
.upload-progress.progres-100{width:100%;}
.upload-progress.progres-60{width:60%;}
.upload-progress.progres-30{width:30%;}
.close-progress{position:absolute; right:0px; top:0px; cursor:pointer;}


.cld-sec{float:left; width:100%; margin-bottom:30px;}
.cld-col{float:left; width:360px;}
.prfdtile-sec{float:left; width:100%; margin-bottom: 25px;}
.prfdtile-sec .camp-slct{float: left; margin-right: 25px;}
.prfdtile-sec > label, .intro-yourslf label{font-family: 'Lato', sans-serif; font-weight:400;}

.intro-yourslf{margin-top: 20px;}
.intro-yourslf textarea.form-control{height: 90px !important;}
.submt-video{ margin-top: 25px;}
.video-up-col{width: 400px; float: left;}

.inner-header-bg{background: url( ../images/inner-header-bg.jpg) left top no-repeat; background-size: cover; position: relative; color:#fff;}
.inner-header-bg:after{position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; content: ""; background: rgba(0, 0, 0, 0.5); z-index: 0;}
.inner-header-bg .prof-submisin-wrap, .inner-header-bg .profile-nav-row{position: relative; z-index: 999;}
.inner-header-bg .title-4 h1, .inner-header-bg .title-1 h1 .inner-header-bg .program-list-col h3, .inner-header-bg .program-list-col li, .inner-header-bg .prof-cmplet-txt{color: #fff;}

.contact-advisor{margin-bottom: 30px;}

.resource-row{display: block; margin: 0px -10px; display: flex;}
.resource-col{float: left; width: 33.333%;  border-radius: 6px; -webkit-border-radius: 6px;  padding: 25px 140px 20px 25px;  margin:0 10px 20px 10px; color: #fff; position: relative;}
.resource-col h2{font-size: 26px; font-family: 'montserratbold';  color: #fff;  margin-bottom: 8px;}
.resource-col .resource-icon{position: absolute; right: 20px; top: 20px; width:110px; text-align: center;}
.resource-col .resource-icon-2{width:90px;}
.resource-col .resource-icon-3{width:100px;}


.pay-plan-wrap{float: left; width: 100%; border: solid 1px #babcbe; border-radius: 4px; -webkit-border-radius: 4px; margin-bottom: 25px;}
.pay-plan-wrap h2{font-size: 18px; color: #58595B; background: #f3f3f4; padding: 14px 15px; font-family: 'Lato', sans-serif; font-weight:400; border-radius:4px 4px 0px 0px; -webkit-border-radius:4px 4px 0px 0px;}
.pay-plan-table{float: left; width: 100%; overflow-x: auto;}
.pay-plan-table thead th, .pay-plan-table tr td{padding:10px; border-bottom: solid 1px #babcbe; text-align: center; text-transform: uppercase; font-size: 15px; font-family: 'Lato', sans-serif; font-weight:400;}
.pay-plan-table thead th{font-size: 12px; font-weight: normal;}
.pay-plan-table tr:last-child td{border-bottom: 0px;}
.pay-plan-table tr td:first-child{color: #0BA3D9; font-weight:700; font-family: 'Lato', sans-serif;}
.pay-plan-table .posted-txt{color: #0BA3D9; font-weight:400; font-family: 'Lato', sans-serif; font-style: italic; font-size: 12px;}

.pay-plan-table .btn-default{display:inline-block; background:#0079c1; color:#fff !important; font-size:11px; font-weight:900; font-family: 'Lato', sans-serif; height:32px; line-height:32px; border:0px; text-align:center; padding:0px 25px; text-transform:uppercase; width:auto; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; vertical-align:top; cursor: pointer; -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none; border-radius: 4px; -webkit-border-radius:4px;}
.pay-plan-table .btn-default:hover, .pay-plan-table .btn-default:focus, .pay-plan-table .btn-default.active{background:#0079c1 !important; color:#fff !important;}

.departure-adrs{padding:15px 0px;}
.departure-adrs p{margin-bottom: 10px;}
.departure-adrs span{text-transform:uppercase;}

.global-title{background: #0BA3D9; border-radius: 5px; -webkit-border-radius: 5px; padding: 18px 40px 18px 100px; float: left; width: 100%; position: relative; text-transform: uppercase; color: #fff; font-weight:900; font-family: 'Lato', sans-serif; font-size:20px;}
.title-icon{width:60px; position: absolute; left: 20px; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%);}
.global-title:after {content: "";  position: absolute;  right:25px;  top:27px;  border-left: solid #fff 8px;  border-top: solid transparent 8px;  border-bottom: solid transparent 8px;}
.global-title.open:after { transform:rotate(90deg);}
.global-content{float: left; width: 100%; padding: 20px 0px;} 

.travel-dtl-col{display: inline-block; width: 20%; vertical-align: top; margin-bottom: 25px;}
.travel-upload{float: left; max-width: 450px;}
.travel-upload ul{margin-top: 15px;}


.cmn-accordin{float:left; width: 100%; margin-bottom:15px;}
.asistance-txt{margin-bottom: 20px;}
.asistance-txt h3{font-size: 18px; color: #0079C1; margin-bottom: 10px;}
.asistance-ph{font-size: 22px; color: #000; margin-bottom: 10px; font-weight:700; font-family: 'Lato', sans-serif;}
.asistance-adrs{color: #000; margin-bottom: 10px; font-weight:700; font-family: 'Lato', sans-serif;}

.travelar-pic{width: 180px; height: 180px; border-radius: 100%; -webkit-border-radius: 100%; display: inline-block;}
.travelar-pic img{width: 180px; height: 180px; border-radius: 100%; -webkit-border-radius: 100%; display: inline-block;}
.prof-submisin-wrap{padding-bottom: 40px; position: relative; z-index: 2;}
.padd-T0{padding-top: 0px !important;}



/*================Progress Circle csss============*/
.prof-circle-col{display: inline-block; width: 210px; position: relative;}
.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}
.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
  position: absolute;
  border:10px solid #f2643f;
  width:190px;
  height:190px;
  clip: rect(0em, 105px, 210px, 0em);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.c100 {
  position: relative;
  width: 210px;
  height: 210px;
  border-radius: 100%;
   display: inline-block;
  box-shadow: inset 0px 0px 0px 10px #fdd1b4; -webkit-box-shadow: inset 0px 0px 0px 10px #fdd1b4; -moz-box-shadow: inset 0px 0px 0px 10px #fdd1b4; -ms-box-shadow: inset 0px 0px 0px 10px #fdd1b4; -o-box-shadow: inset 0px 0px 0px 10px #fdd1b4; z-index: 0;
}
.c100 *,
.c100 *:before,
.c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.c100.center {
  float: none;
  margin: 0 auto;
}

.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #cccccc;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c100:after {
  position: absolute;
  top:20px;
  left:20px;
  display: block;
  content: " ";
  border-radius: 50%;
 
  width:170px;
  height:170px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
	background: rgb(244,121,41); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgb(244,121,41) 0%, rgb(237,20,90) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgb(244,121,41) 0%,rgb(237,20,90) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgb(244,121,41) 0%,rgb(237,20,90) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47929', endColorstr='#ed145a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.c100 .slice {
  position: absolute;
  width:210px;
  height:210px;
  clip: rect(0em, 210px, 210px, 105px);
}
.c100.p1 .bar {
  -webkit-transform: rotate(3.6deg);
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -o-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.c100.p2 .bar {
  -webkit-transform: rotate(7.2deg);
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -o-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.c100.p3 .bar {
  -webkit-transform: rotate(10.8deg);
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -o-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.c100.p4 .bar {
  -webkit-transform: rotate(14.4deg);
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -o-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.c100.p5 .bar {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
.c100.p6 .bar {
  -webkit-transform: rotate(21.6deg);
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -o-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.c100.p7 .bar {
  -webkit-transform: rotate(25.2deg);
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -o-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.c100.p8 .bar {
  -webkit-transform: rotate(28.8deg);
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -o-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.c100.p9 .bar {
  -webkit-transform: rotate(32.4deg);
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -o-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.c100.p10 .bar {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
.c100.p11 .bar {
  -webkit-transform: rotate(39.6deg);
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -o-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.c100.p12 .bar {
  -webkit-transform: rotate(43.2deg);
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -o-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.c100.p13 .bar {
  -webkit-transform: rotate(46.800000000000004deg);
  -moz-transform: rotate(46.800000000000004deg);
  -ms-transform: rotate(46.800000000000004deg);
  -o-transform: rotate(46.800000000000004deg);
  transform: rotate(46.800000000000004deg);
}
.c100.p14 .bar {
  -webkit-transform: rotate(50.4deg);
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -o-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.c100.p15 .bar {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
.c100.p16 .bar {
  -webkit-transform: rotate(57.6deg);
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -o-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.c100.p17 .bar {
  -webkit-transform: rotate(61.2deg);
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -o-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.c100.p18 .bar {
  -webkit-transform: rotate(64.8deg);
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -o-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.c100.p19 .bar {
  -webkit-transform: rotate(68.4deg);
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -o-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.c100.p20 .bar {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
.c100.p21 .bar {
  -webkit-transform: rotate(75.60000000000001deg);
  -moz-transform: rotate(75.60000000000001deg);
  -ms-transform: rotate(75.60000000000001deg);
  -o-transform: rotate(75.60000000000001deg);
  transform: rotate(75.60000000000001deg);
}
.c100.p22 .bar {
  -webkit-transform: rotate(79.2deg);
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -o-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.c100.p23 .bar {
  -webkit-transform: rotate(82.8deg);
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -o-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.c100.p24 .bar {
  -webkit-transform: rotate(86.4deg);
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -o-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.c100.p25 .bar {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.c100.p26 .bar {
  -webkit-transform: rotate(93.60000000000001deg);
  -moz-transform: rotate(93.60000000000001deg);
  -ms-transform: rotate(93.60000000000001deg);
  -o-transform: rotate(93.60000000000001deg);
  transform: rotate(93.60000000000001deg);
}
.c100.p27 .bar {
  -webkit-transform: rotate(97.2deg);
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -o-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.c100.p28 .bar {
  -webkit-transform: rotate(100.8deg);
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -o-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.c100.p29 .bar {
  -webkit-transform: rotate(104.4deg);
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -o-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.c100.p30 .bar {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}
.c100.p31 .bar {
  -webkit-transform: rotate(111.60000000000001deg);
  -moz-transform: rotate(111.60000000000001deg);
  -ms-transform: rotate(111.60000000000001deg);
  -o-transform: rotate(111.60000000000001deg);
  transform: rotate(111.60000000000001deg);
}
.c100.p32 .bar {
  -webkit-transform: rotate(115.2deg);
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -o-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.c100.p33 .bar {
  -webkit-transform: rotate(118.8deg);
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -o-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.c100.p34 .bar {
  -webkit-transform: rotate(122.4deg);
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -o-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.c100.p35 .bar {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}
.c100.p36 .bar {
  -webkit-transform: rotate(129.6deg);
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -o-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.c100.p37 .bar {
  -webkit-transform: rotate(133.20000000000002deg);
  -moz-transform: rotate(133.20000000000002deg);
  -ms-transform: rotate(133.20000000000002deg);
  -o-transform: rotate(133.20000000000002deg);
  transform: rotate(133.20000000000002deg);
}
.c100.p38 .bar {
  -webkit-transform: rotate(136.8deg);
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -o-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.c100.p39 .bar {
  -webkit-transform: rotate(140.4deg);
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -o-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.c100.p40 .bar {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}
.c100.p41 .bar {
  -webkit-transform: rotate(147.6deg);
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -o-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.c100.p42 .bar {
  -webkit-transform: rotate(151.20000000000002deg);
  -moz-transform: rotate(151.20000000000002deg);
  -ms-transform: rotate(151.20000000000002deg);
  -o-transform: rotate(151.20000000000002deg);
  transform: rotate(151.20000000000002deg);
}
.c100.p43 .bar {
  -webkit-transform: rotate(154.8deg);
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -o-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.c100.p44 .bar {
  -webkit-transform: rotate(158.4deg);
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -o-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.c100.p45 .bar {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}
.c100.p46 .bar {
  -webkit-transform: rotate(165.6deg);
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -o-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.c100.p47 .bar {
  -webkit-transform: rotate(169.20000000000002deg);
  -moz-transform: rotate(169.20000000000002deg);
  -ms-transform: rotate(169.20000000000002deg);
  -o-transform: rotate(169.20000000000002deg);
  transform: rotate(169.20000000000002deg);
}
.c100.p48 .bar {
  -webkit-transform: rotate(172.8deg);
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -o-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.c100.p49 .bar {
  -webkit-transform: rotate(176.4deg);
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -o-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.c100.p50 .bar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.c100.p51 .bar {
  -webkit-transform: rotate(183.6deg);
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -o-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}
.c100.p52 .bar {
  -webkit-transform: rotate(187.20000000000002deg);
  -moz-transform: rotate(187.20000000000002deg);
  -ms-transform: rotate(187.20000000000002deg);
  -o-transform: rotate(187.20000000000002deg);
  transform: rotate(187.20000000000002deg);
}
.c100.p53 .bar {
  -webkit-transform: rotate(190.8deg);
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -o-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}
.c100.p54 .bar {
  -webkit-transform: rotate(194.4deg);
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -o-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}
.c100.p55 .bar {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}
.c100.p56 .bar {
  -webkit-transform: rotate(201.6deg);
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -o-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}
.c100.p57 .bar {
  -webkit-transform: rotate(205.20000000000002deg);
  -moz-transform: rotate(205.20000000000002deg);
  -ms-transform: rotate(205.20000000000002deg);
  -o-transform: rotate(205.20000000000002deg);
  transform: rotate(205.20000000000002deg);
}
.c100.p58 .bar {
  -webkit-transform: rotate(208.8deg);
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -o-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}
.c100.p59 .bar {
  -webkit-transform: rotate(212.4deg);
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -o-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}
.c100.p60 .bar {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
.c100.p61 .bar {
  -webkit-transform: rotate(219.6deg);
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -o-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}
.c100.p62 .bar {
  -webkit-transform: rotate(223.20000000000002deg);
  -moz-transform: rotate(223.20000000000002deg);
  -ms-transform: rotate(223.20000000000002deg);
  -o-transform: rotate(223.20000000000002deg);
  transform: rotate(223.20000000000002deg);
}
.c100.p63 .bar {
  -webkit-transform: rotate(226.8deg);
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -o-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}
.c100.p64 .bar {
  -webkit-transform: rotate(230.4deg);
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -o-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}
.c100.p65 .bar {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}
.c100.p66 .bar {
  -webkit-transform: rotate(237.6deg);
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -o-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}
.c100.p67 .bar {
  -webkit-transform: rotate(241.20000000000002deg);
  -moz-transform: rotate(241.20000000000002deg);
  -ms-transform: rotate(241.20000000000002deg);
  -o-transform: rotate(241.20000000000002deg);
  transform: rotate(241.20000000000002deg);
}
.c100.p68 .bar {
  -webkit-transform: rotate(244.8deg);
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -o-transform: rotate(244.8deg);
  transform: rotate(244.8deg);

}
.c100.p69 .bar {
  -webkit-transform: rotate(248.4deg);
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -o-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}
.c100.p70 .bar {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}
.c100.p71 .bar {
  -webkit-transform: rotate(255.6deg);
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -o-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}
.c100.p72 .bar {
  -webkit-transform: rotate(259.2deg);
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -o-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}
.c100.p73 .bar {
  -webkit-transform: rotate(262.8deg);
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -o-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}
.c100.p74 .bar {
  -webkit-transform: rotate(266.40000000000003deg);
  -moz-transform: rotate(266.40000000000003deg);
  -ms-transform: rotate(266.40000000000003deg);
  -o-transform: rotate(266.40000000000003deg);
  transform: rotate(266.40000000000003deg);
}
.c100.p75 .bar {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.c100.p76 .bar {
  -webkit-transform: rotate(273.6deg);
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -o-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}
.c100.p77 .bar {
  -webkit-transform: rotate(277.2deg);
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -o-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}
.c100.p78 .bar {
  -webkit-transform: rotate(280.8deg);
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -o-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}
.c100.p79 .bar {
  -webkit-transform: rotate(284.40000000000003deg);
  -moz-transform: rotate(284.40000000000003deg);
  -ms-transform: rotate(284.40000000000003deg);
  -o-transform: rotate(284.40000000000003deg);
  transform: rotate(284.40000000000003deg);
}
.c100.p80 .bar {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}
.c100.p81 .bar {
  -webkit-transform: rotate(291.6deg);
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -o-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}
.c100.p82 .bar {
  -webkit-transform: rotate(295.2deg);
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -o-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}
.c100.p83 .bar {
  -webkit-transform: rotate(298.8deg);
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -o-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}
.c100.p84 .bar {
  -webkit-transform: rotate(302.40000000000003deg);
  -moz-transform: rotate(302.40000000000003deg);
  -ms-transform: rotate(302.40000000000003deg);
  -o-transform: rotate(302.40000000000003deg);
  transform: rotate(302.40000000000003deg);
}
.c100.p85 .bar {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}
.c100.p86 .bar {
  -webkit-transform: rotate(309.6deg);
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -o-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}
.c100.p87 .bar {
  -webkit-transform: rotate(313.2deg);
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -o-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}
.c100.p88 .bar {
  -webkit-transform: rotate(316.8deg);
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -o-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}
.c100.p89 .bar {
  -webkit-transform: rotate(320.40000000000003deg);
  -moz-transform: rotate(320.40000000000003deg);
  -ms-transform: rotate(320.40000000000003deg);
  -o-transform: rotate(320.40000000000003deg);
  transform: rotate(320.40000000000003deg);
}
.c100.p90 .bar {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}
.c100.p91 .bar {
  -webkit-transform: rotate(327.6deg);
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -o-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}
.c100.p92 .bar {
  -webkit-transform: rotate(331.2deg);
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -o-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}
.c100.p93 .bar {
  -webkit-transform: rotate(334.8deg);
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -o-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}
.c100.p94 .bar {
  -webkit-transform: rotate(338.40000000000003deg);
  -moz-transform: rotate(338.40000000000003deg);
  -ms-transform: rotate(338.40000000000003deg);
  -o-transform: rotate(338.40000000000003deg);
  transform: rotate(338.40000000000003deg);
}
.c100.p95 .bar {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}
.c100.p96 .bar {
  -webkit-transform: rotate(345.6deg);
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -o-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}
.c100.p97 .bar {
  -webkit-transform: rotate(349.2deg);
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -o-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}
.c100.p98 .bar {
  -webkit-transform: rotate(352.8deg);
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -o-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}
.c100.p99 .bar {
  -webkit-transform: rotate(356.40000000000003deg);
  -moz-transform: rotate(356.40000000000003deg);
  -ms-transform: rotate(356.40000000000003deg);
  -o-transform: rotate(356.40000000000003deg);
  transform: rotate(356.40000000000003deg);
}
.c100.p100 .bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}


.circle-txt{ width:120px; text-align:center; border-radius:100%; -webkit-border-radius:100%; color:#fff; cursor:pointer; position: absolute; z-index: 999; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%);}
.circle-txt em{margin:0px 0 10px 0px; display:inline-block;}
.circle-txt em img{ width:44px;}
.circle-txt span{display:inline-block; width:100%; font-size: 12px;}


.prof-circle-img/*, .prof-circle-img img*/{ width:171px; height: 171px; line-height:170px; text-align:center; border-radius:100%; -webkit-border-radius:100%; color:#fff; position: absolute; z-index: 999; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); -o-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); overflow: hidden;}
.prof-circle-img img{width: 100%; height: 100%; object-fit: cover;}

.register-form-2 {float: let; width: 660px;}


.srch-inp-row .btn-srch img{position: relative; top: -1px; width: 16px;}
.compWrapper {float: left;  width: 100%;  padding: 40px;}
.compWrapper.cAfsComp_DocumentAction .full{margin-top: 0px !important;}
.program-5 .program-list-col {width: 18%;}
.margin-T25{margin-top: 25px;}
.cAfsComp_DocumentAction .drgdrop-box {margin-bottom: 20px;}


.radioLabel {display: block; padding-left: 100px;  top: -2px; position: relative;}


/*===============30-08-18===============*/
.multi-todo.custom-radio input[type="radio"]:checked + label{ background: #fff; color: #231F20;}
.multi-todo.custom-radio .submited-check input[type="radio"]:checked + label:after{width: 22px; height: 22px; background: #59a4d6; border-radius: 100%; left: 15px;top: 9px;}
.multi-todo.custom-radio .done-check input[type="radio"]:checked + label:before{background: #59a4d6;}
.multi-todo.custom-radio .done-check input[type="radio"]:checked + label:after{border: solid #fff;  border-width: 0 2px 2px 0;}
.multi-todo.custom-radio .rejected-check input[type="radio"]:checked + label:after{width: 24px; height: 24px; background: #eab44e url(../images/rejected-icon.png) 10px 5px no-repeat; border-radius: 100%; left: 14px;top:8px; border-color: #eab44e; transform: none !important; -webkit-transform: none !important;  background-size:4px;}
.multi-todo.custom-radio .cancelled-check input[type="radio"]:checked + label:after{width: 24px; height: 24px; background: #ca4c36 url(../images/cross.png) 6px 6px no-repeat; border-radius: 100%; left: 14px;top:8px; border-color: #ca4c36; transform: none !important; -webkit-transform: none !important;  background-size: 12px;}


.left-menu{padding:10px 0 0 12px; float:left; width:100%; font-weight:400;}
.left-menu > li{float:left; width:100%; color:#bfc9e2; background:none; padding:0px; margin:12px 0px 12px 0px; position:relative; box-shadow:none !important; border-radius:0px !important; font-size: 16px;}
.left-menu > li > p:before{background:url(../images/icon-lock.svg) left top no-repeat; width:22px; height:28px; content:""; position:absolute; left:-10px; top:-5px; background-size:100%; opacity:0.7;}
.left-menu > li.active > p:before{background:url(../images/circle-icon.svg) left top no-repeat; width:20px; height:20px; content:""; position:absolute; left:-8px; top:0px; background-size:100%; opacity: 1; z-index: 999;}
.logout-nav{position:relative; width:100%; float:left; padding-left:38px; margin-top:30px; font-weight:700; font-family: 'Lato', sans-serif;  font-size: 14px;}
.logout-nav .logout-icon{background:url(../images/logout-icon.svg) left top no-repeat; width:22px; height:22px; content:""; position:absolute; left:0px; top:1px; background-size:100%; opacity:0.7;}
.left-menu li ul{display: none;}
.left-menu li.active ul{display: block; vertical-align: top;}
.logout-nav a {color: rgba(256, 256, 256, 0.5); text-transform: uppercase;  background: none !important;  padding: 0px; margin: 0px;}
.logout-nav:hover a {color: rgba(256, 256, 256, 1);}
.left-menu > li:after{ width:2px; height:100%; background:#cdd9ec; position:absolute; content:""; bottom:-20px; left:0px; z-index:0;}
.left-menu > li:last-child:after{display: none;}
.left-menu > li p{padding-left: 26px; /*position: relative;*/}
.left-menu > li p:after{ width:2px; height:100%; background:#cdd9ec; position:absolute; content:""; bottom:-20px; left:0px; z-index:2;}
.left-menu > li.active p:after{background: #fff;}
.left-menu li ul li {margin: 10px 0px 0px 0px;  padding: 0px 0 0 26px;  display: inline-block; vertical-align: top; width: 100%;  position: relative; font-size: 14px;}
.left-menu li ul li:before { width: 2px; height: 100%;  background: #bfc9e2;  position: absolute;  content: "";  bottom: 15px;  left:0px;  z-index:0;}
.left-menu li ul li.active:after, .left-menu li ul li.active:before, .left-menu li ul li.active span:after { background: #fff; z-index: 2;} 
.left-menu li ul li span{float: left; width: 100%; position: relative; color: #bfc9e2;}
.left-menu li ul li span:after {background: #bfc9e2;  width: 10px; height: 10px;  content: "";  position: absolute;  left: -30px;  top: 5px; border-radius: 100%; -webkit-border-radius: 100%; z-index: 6;}
.left-menu > li.active-check > p:before{background:url(../images/nav-check.svg) left top no-repeat; width:22px; height:22px; content:""; position:absolute; left:-10px; top:-2px; background-size:100%; opacity: 1;}
.left-menu > li.active-check p:after{background: #00ADEE;}
.left-menu > li.active-check > p, .left-menu li.active, .left-menu li ul li.active span {color: #fff;}
.left-menu > li:last-child p:after{display: none;}
.left-menu > li.active-check p:after {height: 110%; bottom: -22px;}

.todo-row{float: left; clear: both;}
.todo-row .camp-slct{float: left; text-transform: uppercase;}
.todo-row .review-label{float: left; width: auto; padding: 10px 0 0 10px; color: #59a4d6; font-style: italic; font-size: 16px; font-weight: normal; margin: 0px;}
.sub-text{font-style: italic; float: left; width: 100%; padding:2px 0 4px 26px; font-size: 13px; font-weight: 300;}
.sub-text-2{float: left; padding:0px 0 4px 26px; width: 100%; font-size: 13px; font-weight: 300;}


.uiInput--datetime .datePicker-openIcon {width: 20px; height: 20px;  right: 12px;  bottom:12px;  background-size: 20px;}


.nav-wrap.displayFull{ position: fixed;  left: 0px;  top: 85px;  height: 100%;  width: 240px; background: rgb(143,43,144); /* Old browsers */
background: -moz-linear-gradient(top, rgb(143,43,144) 0%, rgb(53,103,177) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgb(143,43,144) 0%,rgb(53,103,177) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2b90', endColorstr='#3567b1',GradientType=0 ); /* IE6-9 */ background-attachment:fixed;}

.cAffsComp_AboutYou .adjustWidthProgramInput {width: 40%!important; vertical-align: top; position:absolute; right:20%; top:-6px;}
.exchangePrograms li {vertical-align: top; position:relative;}


.cAfsComp_AdditionalDestination .pillHeight {padding: 10px 20px; border-radius: 3px; -webkit-border-radius: 3px; height: 44px !important;}
.cAfsComp_LoginDetailComponent .heightSelectList{height: 44px !important;}
.top-banner-image {position: absolute;  left: 0px;  top: 0px;  width: 100%;  height: 100%; z-index: 0;}
.top-banner-image > img{float: left; width: 100%; height: 100%;}
.register-form .check_box br{display: none;}
.cAfsComp_AdditionalDestination .pillHeight .option-close{margin-top: -3px;}


.advisor-row {margin-bottom: 25px;}
.advisor-pic-txt.subComments {padding-left: 50px; min-height: 54px; border-bottom: 0px; margin-bottom: 0px;}
.advisor-pic-txt.subComments:last-child {border-bottom: solid 1px #c9cacb;}
.advisor-pic-txt.subComments .advisor-pic {width: 54px; height: 54px;}
.advisor-pic-txt.subComments .advisor-txt {padding: 2px 0 0 74px;}
.advisor-pic-txt.subComments .advisor-txt h4 {margin-bottom: 6px; font-size: 14px;}
.advisor-pic-txt.subComments .advisor-txt p{font-size: 13px;}

.change-prog.colorBlue {border-radius: 4px;  padding: 4px 26px 4px 10px; background: #0ba2d9; color: #fff;}
.change-prog.colorBlue span {position: relative; left:0px;  top: -1px;  width: 10px;  float: left; margin-right: 6px;}


.changeProgramModel .slds-modal .slds-modal__content {border-radius: 5px; text-align: center; padding: 20px; position: relative;}
.changeProgramModel .slds-modal .slds-modal__content .slds-grid{display: inherit !important; width: 100%;}
.changeProgramModel .slds-modal .slds-modal__content .slds-size_4-of-12 {display: inherit !important; width: 100%; margin-top: 15px;}
.changeProgramModel .slds-modal .slds-modal__content .slds-size_1-of-12{float: left; display: inherit !important;}
.changeProgramModel .slds-modal .slds-modal__content .colorFont {float: none; display: block; width: 100%; text-align: left; padding-left: 66px;}
.changeProgramModel .slds-modal .slds-modal__content .slds-size_1-of-12 img {width: 40px !important;}
.closePRModel {position: absolute; right: 10px; top: 10px; cursor: pointer;}
.slds-modal{z-index: 99999;}
.otherOption {margin-top: -1%;}
.otherOption.radio_col input[type="radio"] + label {margin-top: 0;}
.inner-header-bg .profile-nav-row{z-index:8;}

.languageSelector label{color:#fff; font-weight:400;padding-top: 10%;}


.YourHealthInfo .details-row {margin-bottom: 10px;}
.YourHealthInfo .details-row p{margin-bottom: 10px; font-size: 16px;}


.imageBadge {position: absolute; right: 15px;  top: 15px; width: 46px;  height: 46px; z-index:900; box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.30); -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.30); border-radius:100%; background: #05a2d8; text-align: center; line-height: 44px;}
.imageBadge img{width:25px;}
.progrm-title h3{padding-right:21px; position:relative;}
.progrm-title a:hover h3{ color:#0da3d9; text-decoration:underline;}
.progrm-title a h3:after{background: url(../images/arrow.svg) no-repeat left top; width:17px; height:14px; position:absolute; right:0px; top:2px; content:""; background-size:100%; display:none;}
.progrm-title a:hover h3:after{display:block;}

.progrm-box .select-progrm-onhover{display:none;}
.progrm-box:hover .select-progrm-onhover{display:block;cursor:pointer;}
.progrm-title.full a h3 {color:#0da3d9;}
.progrm-box:hover{cursor:pointer;}
.progrm-img img {object-fit:cover;}

.languageSelector {float: left; width: 100%;  padding-top:30px;}
.languageSelector .form-group{margin:0px; padding-left:38px; position:relative; text-align:left;}
.cAfsComp_ParentComponent .languageIcon {width: 18px;  height: 18px; position: absolute;  left: 0px;  top: 1px;}

.comm-panels-container.uiContainerManager.siteforcePanelsContainer{
  height: auto;
}

div.uiInput--datetime a.datePicker-openIcon {
	background-image : url(../images/calendar-icon.svg);
	bottom: 9px;}














