.THIS .compWrapper{
    width:100%;
    height: auto;
    margin: 2%;
    background-color: #fff;
}

.THIS .drgdrop-box {
    float: left;
    width: 400px;
    height: 300px;
    background-color: white;
    border: dotted 1px #929497;
    position: relative;
    cursor: pointer;
}

.THIS .drgdrop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    text-align: center;
}

.THIS .drgdrop .drgdrop-icon {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.THIS .drgdrop .drgdrop-icon img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.THIS .slds-file-selector__dropzone {
    padding: .125rem;
    border: 1px dashed rgb(221, 219, 218);
    border-radius: .25rem;
    width: 400px;
    height: 300px;
    position: absolute;
    left: -101%;
    top: -33%;
}

.THIS .full {
    margin-top: 20px !important;
}