<template>
  <div class="slds-grid">
    <div class="slds-col">
      <lightning-combobox
        name="CountryCode"
        value={countryCode}
        onchange={handleChange}
        label="Country Code"
        options={countryOptions}
        loading={isCountryOptionLoading}
      ></lightning-combobox>
    </div>
    <div class="slds-col">
      <lightning-input
        name="Phone"
        class="phone-number"
        value={phoneFormatted}
        onchange={handleChange}
        label="Phone"
        required={required}
      >
      </lightning-input>
    </div>
  </div>
</template>
