.THIS .heightSelectList{
    height: 40px !important;
}

.THIS .heightSelectListMulti{
    height: 100px !important;
}

.THIS .disbaleDiv {
    pointer-events: none;
}

.THIS .pointerClass {
    cursor:pointer;
}
.THIS .boldtext {
 	font-weight: bold; 
}

.THIS .row-checkBanner{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.THIS .col-sx-checkBanner{
    position: relative;
    width: 3%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.THIS .col-sm-checkBanner{
    position: relative;
    width: 97%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.THIS .top{
    top:10px;
}


.THIS .top2{
    top:10px;
}

.THIS .left-menu > li.active-check > p:before{   
    left: -13px;
    width: 26px;
    height: 29px;
    top: -14px;
}

.THIS .scolrsp.open-mini:after{
    border-left: solid #626366 7px;
    border-top: solid transparent 7px;
    border-bottom: solid transparent 7px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg); transform: rotate(90deg);
}

.THIS .scolrsp.open:after{
    border-left: solid #fff 7px;
    border-top: solid transparent 7px;
    border-bottom: solid transparent 7px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg); transform: rotate(90deg);
}

.THIS .scolrsp-close{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 13px 30px 13px 15px;
    background: #15a3da;
    font-size: 16px;
    position: relative;
}

.THIS .scolrsp-close .scolr-name{
    color:#fff;
}

.THIS .scolrsp-close .apply-by{
    font-family: 'Lato', sans-serif;
    font-weight:400;
    display:inline-block;
    padding-left:60px;
    color:#fff;
}

.THIS .scolrsp-close-content{padding:15px 0px 0px 0px; float:left; font-size:15px;}
.THIS .scolrsp-close-content p{margin-bottom:15px;}

.THIS .scolrsp-close:after{
    content: "";  
    position: absolute;
    right:18px; 
    top: 15px; 
    border-left: solid #fff 7px;
    border-top: solid transparent 7px;
    border-bottom: solid transparent 7px;
}