<template>
  <template if:true={record}>
    <div class="slds-m-around_medium">
      {labels.yourAddress}
      <template if:true={streetVisible}>
        <lightning-input
          type="Text"
          onchange={handleChange}
          label={labels.streetAddress}
          placeholder={labels.streetAddress}
          value={MailingStreet}
          name="MailingStreet"
          required={streetRequired}
        ></lightning-input>
      </template>
      <template if:true={cityVisible}>
        <lightning-input
          type="Text"
          onchange={handleChange}
          label={labels.cityAddress}
          value={MailingCity}
          required={cityRequired}
          name="MailingCity"
        ></lightning-input>
      </template>
      <template if:true={stateVisible}>
        <lightning-input
          type="Text"
          onchange={handleChange}
          label={labels.stateAddress}
          value={MailingState}
          required={stateRequired}
          name="MailingState"
        ></lightning-input>
      </template>
      <template if:true={zipVisible}>
        <lightning-input
          type="Text"
          onchange={handleChange}
          label={labels.postalCodeAddress}
          value={MailingPostalCode}
          required={zipRequired}
          name="MailingPostalCode"
        ></lightning-input>
      </template>
      <!-- <lightning-input
        type="Text"
        onchange={handleChange}
        label={labels.countryAddress}
        value={MailingCountry}
        required={required}
        name="MailingCountry"
      ></lightning-input> -->
      <template if:true={countryVisible}>
        <template if:true={picklist}>
          <lightning-combobox
            value={Country_of_Legal_Residence__c}
            options={picklist}
            placeholder={labels.countryAddress}
            label={labels.countryAddress}
            required={countryRequired}
            name="Country_of_Legal_Residence__c"
            onchange={handleChange}
          ></lightning-combobox>
        </template>
      </template>
    </div>
  </template>
  <template if:true={error}>
    <!-- Error handling -->
  </template>
  <template if:true={loading}>
    <!-- Load handling -->
    <p>Loading...</p>
  </template>
</template>
