.uppercase-header {
  text-transform: uppercase;
}

.btn {
  font-size: 16px;
  font-family: Lato;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px 12px;
  margin: 10px 5px;
}

.btn img {
  float: left;
  padding-top: 2px;
  padding-left: 8px;
}

.facebook-btn {
  width: 100%;
  background-color: #3b5998;
  color: white;
  border: none;
}

.facebook-btn:hover {
  background-color: rgb(34, 51, 87);
}

.google-btn {
  width: 100%;
}

.google-btn:hover {
  background-color: #4285f4;
  color: white;
}

.google-btn:hover img {
  filter: brightness(10);
}

.or_divider {
  display: flex;
  position: relative;
  margin: 1rem 0;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.or_divider span {
  padding: 0 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: #5f5f5f;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.or_divider:before,
.or_divider:after {
  flex: 1;
  content: "";
  border-bottom: 1px solid #5f6c72;
}

.consent_box {
  height: 68px;
  overflow-y: scroll;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 3px;
}

/* This styling is very unprofessional. Make sure you fix it  */
.big-email-logo {
  margin-left: 136px;
  width: 86px;
}
