<template>
  <!-- First Screen: Sign up form -->
  <template if:true={showSignUpForm}>
    <h3 class="uppercase-header">
      {label.AfsLbl_Login_SignUp}
    </h3>

    <div>
      <template if:true={showFacebookButton}>
        <button class="btn facebook-btn" onclick={handleFacebook}>
          <img src={facebook_logo} /> {label.AfsLbl_SignUp_Facebook}
        </button>
      </template>

      <template if:true={showGoogleButton}>
        <button class="btn google-btn" onclick={handleGoogle}>
          <img src={google_logo} /> {label.AfsLbl_SignUp_Gmail}
        </button>
      </template>
    </div>

    <template if:true={showOr}>
      <div class="or_divider"><span>OR</span></div>
    </template>

    <lightning-input
      type="text"
      name="firstName"
      onchange={handleChange}
      placeholder="First Name"
      value={firstName}
      required
    ></lightning-input>
    <lightning-input
      type="text"
      onchange={handleChange}
      name="lastName"
      placeholder="Last Name"
      value={lastName}
      required
    ></lightning-input>
    <lightning-input
      type="email"
      class="emailInput"
      onchange={handleChange}
      name="email"
      placeholder="Email"
      value={email}
      required
    ></lightning-input>

    <button class="btn" onclick={handleEmailSignUpValidation}>
      Email Sign up
    </button>
  </template>

  <!-- Consent & checkboxes screen -->
  <template if:true={showConsent}>
    <h3 class="uppercase-header">{signUpHeader}</h3>
    <span><a onclick={handleBack}>←Back</a></span>

    <label>{label.AfsLbl_Login_PolicyHeader}</label>
    <div class="consent_box">
      <lightning-formatted-rich-text
        value={consentimiento}
      ></lightning-formatted-rich-text>
    </div>

    <lightning-checkbox-group
      name="Checkbox Group"
      options={ChecboxOptions}
      value={consentValue}
      onchange={handleConsentCheckbox}
    ></lightning-checkbox-group>

    <button class="btn" onclick={handleSignUp}>
      Continue
    </button>
  </template>

  <!-- Check your email screen  -->
  <template if:true={showCheckEmail}>
    <h3 class="uppercase-header">Check your email</h3>
    <p>
      Tap the link in the email we sent you. Confirming your email address help
      us keep you updated thought-out your application process.
    </p>

    <img class="big-email-logo" src={email_logo} />

    <lightning-input
      type="email"
      class="emailInput"
      onchange={handleChange}
      name="email"
      value={email}
      disabled
    ></lightning-input>

    <a onclick={handleUpdateEmail}>←Change email address</a>
  </template>
</template>
