<template>
  <lightning-button
    onclick={removeGuardian}
    label="Remove Guardian"
  ></lightning-button>
  <div class="slds-grid">
    <div class="slds-col">
      <lightning-combobox
        value={guardian.npe4__Type__c}
        label={label.relationship}
        options={options}
        onchange={handleChange}
        name="npe4__Type__c"
        required
      ></lightning-combobox>
    </div>
    <template if:true={isOptionOther}>
      <div class="slds-col">
        <lightning-input
          value={guardian.npe4__Description__c}
          placeholder={label.describeRelationship}
          type="text"
          name="npe4__Description__c"
          required
          onchange={handleChange}
        ></lightning-input>
      </div>
    </template>
  </div>
  <div class="slds-grid">
    <div class="slds-col">
      <lightning-input
        value={guardian.npe4__RelatedContact__c.FirstName}
        placeholder={label.firstName}
        label={label.name}
        type="text"
        name="FirstName"
        required
        onchange={handleContactChange}
      ></lightning-input>
    </div>
    <div class="slds-col">
      <lightning-input
        value={guardian.npe4__RelatedContact__c.LastName}
        placeholder={label.lastName}
        type="text"
        name="LastName"
        required
        onchange={handleContactChange}
      ></lightning-input>
    </div>
  </div>
  <lightning-input
    value={guardian.They_live_together__c}
    label="Not legal guardian"
    type="checkbox"
    name="They_live_together__c"
    onchange={handleChange}
  ></lightning-input>
  <lightning-input
    value={guardian.They_live_together__c}
    label="Deceased"
    type="checkbox"
    name="They_live_together__c"
    onchange={handleChange}
  ></lightning-input>
  <lightning-input
    value={guardian.They_live_together__c}
    label="I live with this parent"
    type="checkbox"
    name="They_live_together__c"
    onchange={handleChange}
  ></lightning-input>
  <div class="slds-grid">
    <div class="slds-col">
      <lightning-input
        value={guardian.npe4__RelatedContact__c.Email}
        placeholder={label.email}
        class="email"
        label={label.email}
        type="email"
        name="Email"
        required
        onchange={handleContactChange}
      ></lightning-input>
    </div>
    <div class="slds-col">
      <lightning-input
        value={confirmEmail}
        placeholder={label.confirmEmail}
        label={label.confirmEmail}
        class="email-confirm"
        type="email"
        name="confirmEmail"
        required
        onblur={handleConfirm}
      ></lightning-input>
    </div>
  </div>
  <c-contact-address
    contact={guardian.npe4__RelatedContact__c}
    visibility-street={visibility.street}
    visibility-city={visibility.city}
    visibility-state={visibility.state}
    visibility-zip={visibility.zip}
    visibility-country={visibility.country}
    onupdateaddress={handleContactChange}
  ></c-contact-address>
  <template if:true={phoneIsVisible}>
    <c-contact-phone
      phone={guardian.npe4__RelatedContact__c.Phone}
      onvalidphone={handlePhoneChange}
      country-code-default={defaultCode}
      required={phoneIsRequired}
    ></c-contact-phone>
  </template>
  <div class="slds-grid">
    <template if:true={pobIsVisible}>
      <div class="slds-col">
        <lightning-input
          value={guardian.npe4__RelatedContact__c.Place_of_Birth__c}
          placeholder="Place of Birth"
          label="Place of Birth"
          type="text"
          name="Place_of_Birth__c"
          required={pobIsRequired}
          onchange={handleContactChange}
        ></lightning-input>
      </div>
    </template>
    <template if:true={dobIsVisible}>
      <div class="slds-col">
        <lightning-input
          value={guardian.npe4__RelatedContact__c.Birthdate}
          placeholder={label.dateOfBirth}
          label={label.dateOfBirth}
          type="date"
          class="dob"
          name="Birthdate"
          required={dobIsRequired}
          onchange={handleContactChange}
        ></lightning-input>
      </div>
    </template>
  </div>
  <!-- Otro handler? -->
</template>
