.THIS button.add-parent {
    height: auto;
    line-height: 24px;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.THIS .radio_col {
    display: inline-flex;
    width: 100%;
    padding-right: 0;
}

.THIS .radio_col input[type="radio"]+ label {
    display: inline-flex;
    width: 100%;
    line-height: 40px;
}

.THIS .radio_col .form_control {
    width: 100%;
}

.THIS .radio_col label::before,
.THIS .radio_col label::after {
    margin-top: 10px;
}

.THIS .radio_col label {
    padding-top: 10px;
}

.THIS .check_box input[type="checkbox"] {
    display: initial;
}

.THIS .closeCross {
    filter: grayscale(100%);
}

.THIS .closeCross:hover {
    filter: grayscale(0%);
}

.THIS .uiInput.uiInputCheckbox {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.THIS .uiInput.uiInputCheckbox label {
    order: 2;
    cursor: pointer;
    padding-left: 5px;
    font-weight: 400;
}

.THIS .uiInput.uiInputCheckbox input {
    order: 1;
    box-shadow: none;
    margin-top: 3px;
}