.THIS {
    text-align: left;
}

.THIS .whiteFont{
    color : white !important;
    background : red;
}

.THIS .pointerNone {
    cursor : initial !important;
}

.THIS .todoBlock {
    border: 1px solid #ccc5cc !important;
    background: #ccc5cc;
    color:  #ffffff;
}

.THIS .todoBlock:before {
    border: 1px solid #ffffff !important;
    background: #ccc5cc;
}

.THIS .slds-file-selector__dropzone {
	top: -1100% !important;
}

.THIS .slds-file-selector__dropzone {
	border: none !important;
}

.THIS .custom-radio-block input[type="radio"]:checked + label,.THIS .custom-radio-block input[type="radio"]:not(:checked) + label {
    border: 1px solid #655a64 !important;
}

.THIS .custom-radio-block input[type="radio"]:checked + label:after,.THIS .custom-radio-block input[type="radio"]:not(:checked) + label:after {
    border: 1px solid #655a64 !important;
}

.THIS .keep-row-img {
    float: left;
    width: 18%;
    border-radius: 6px;
    padding: 15px 18px 10px 18px;
    margin-bottom: 11px;
    color: #fff;
}

.THIS .pointer{
    cursor: pointer;
}

.THIS .keep-txt-img h2{
    text-align: center;
    font-size: 20px;
    font-family: 'montserratbold';
    color: #fff;
}