.THIS a.datePicker-openIcon.display {
    /*display: none;*/
}

.THIS .check_boxLbl {
    display: inline-block;
    margin: 0;
    min-height: 21px;
    padding: 0 0 0 11px;
    text-align: left;
    vertical-align: middle;
    color: #939598;
    font-size: 14px;
    cursor: pointer;
    float: none;
    width: auto;
    line-height: 21px;
}

.THIS .displayInline{
    display:inline-block;
}

.THIS .boxScrolable{
    border : 1px solid #d4d4d4;
    overflow-y : auto;
    height: 75px !important;
    font-size: 14px;
    padding: 6px;
}


.THIS .boxScrolable ul {
  list-style-type: disc !important;
}

.THIS .boxScrolable ul li {
  list-style: disc !important;
}

.THIS .boxScrolable ol {
  list-style-type: decimal !important;
}

.THIS .boxScrolable ol li {
  list-style: decimal !important;
}