<template>
  <template if:true={contact}>
    <div class="slds-m-around_medium">
      <template if:true={streetVisible}>
        <lightning-input
          type="Text"
          onchange={handleChange}
          label={labels.streetAddress}
          placeholder={labels.streetAddress}
          value={street}
          name="MailingStreet"
          required={streetRequired}
        ></lightning-input>
        <lightning-input
          type="Text"
          onchange={handleChangeOpt}
          label={labels.streetOptAddress}
          placeholder={labels.streetOptAddress}
          value={streetOpt}
          name="MailingStreet"
        ></lightning-input>
      </template>
      <div class="slds-grid">
        <template if:true={cityVisible}>
          <div class="slds-col">
            <lightning-input
              type="Text"
              onchange={handleChange}
              label={labels.cityAddress}
              value={contact.MailingCity}
              required={cityRequired}
              name="MailingCity"
            ></lightning-input>
          </div>
        </template>
        <template if:true={stateVisible}>
          <div class="slds-col">
            <lightning-input
              type="Text"
              onchange={handleChange}
              label={labels.stateAddress}
              value={contact.MailingState}
              required={stateRequired}
              name="MailingState"
            ></lightning-input>
          </div>
        </template>
        <template if:true={zipVisible}>
          <div class="slds-col">
            <lightning-input
              type="Text"
              onchange={handleChange}
              label={labels.postalCodeAddress}
              value={contact.MailingPostalCode}
              required={zipRequired}
              name="MailingPostalCode"
            ></lightning-input>
          </div>
        </template>
      </div>
    </div>
  </template>
  <template if:false={contact}>
    <div class="slds-m-around_medium">
      {labels.yourAddress}
      <template if:true={streetVisible}>
        <lightning-input
          type="Text"
          onchange={handleChange}
          label={labels.streetAddress}
          placeholder={labels.streetAddress}
          value={record.MailingStreet}
          name="MailingStreet"
          required={streetRequired}
        ></lightning-input>
      </template>
      <template if:true={cityVisible}>
        <lightning-input
          type="Text"
          onchange={handleChange}
          label={labels.cityAddress}
          value={record.MailingCity}
          required={cityRequired}
          name="MailingCity"
        ></lightning-input>
      </template>
      <template if:true={stateVisible}>
        <lightning-input
          type="Text"
          onchange={handleChange}
          label={labels.stateAddress}
          value={record.MailingState}
          required={stateRequired}
          name="MailingState"
        ></lightning-input>
      </template>
      <template if:true={zipVisible}>
        <lightning-input
          type="Text"
          onchange={handleChange}
          label={labels.postalCodeAddress}
          value={record.MailingPostalCode}
          required={zipRequired}
          name="MailingPostalCode"
        ></lightning-input>
      </template>
    </div>
  </template>
  <template if:true={error}>
    <!-- Error handling -->
  </template>
  <template if:true={loading}>
    <!-- Load handling -->
    <p>Loading...</p>
  </template>
</template>
