<template>
  <template if:true={isLoaded}>
    <ul class="slds-m-around_medium">
      <template iterator:guardian={guardianNotDeleted}>
        <li key={guardian.value.Id}>
          <c-applicant-relationship
            options={options}
            guardian={guardian.value}
            onrelchange={handleUpdate}
            oncontactchange={handleUpdateContact}
            onremove={removeGuardian}
            visibility={visibility}
            default-code={defaultCountryCode}
          >
          </c-applicant-relationship>
        </li>
      </template>
    </ul>
  </template>
  <template if:false={isLoaded}>
    <div class="demo-only" style="height:6rem">
      <div class="slds-spinner_container">
        <div role="status" class="slds-spinner slds-spinner_large">
          <span class="slds-assistive-text">Loading</span>
          <div class="slds-spinner__dot-a"></div>
          <div class="slds-spinner__dot-b"></div>
        </div>
      </div>
    </div>
  </template>
  <lightning-button onclick={addGuardian} label="Add Parent"></lightning-button>
</template>
