.THIS .fontBlack {
    color:black;
}
    
/* smartphones, portrait iPhone, portrait phones (Android) */
@media (min-width:320px) {  
	.THIS .widthAdjustAboutYouSection {
        width : 100%;  
    }
    
    .THIS .ulAbout {
        width : 100%  !important;
    }
    
    .THIS .looking-list li {
        min-height: 60px !important;
        word-break: break-word;
    }
    
    .THIS .aboutYouSection {
        margin-top: 0px !important;
        margin-bottom: 0px !important;  
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
/* big landscape tablets, laptops, and desktops */
/* hi-res laptops and desktops */ 
@media (min-width:801px){ 
    .THIS .widthAdjustAboutYouSection {
        width : 60%;  
    }
    
    .THIS .ulAbout {
        width : 61% !important;
        margin-left: -12px !important;
    }
    
    .THIS .looking-list li {
        min-height: 80px !important;
        word-break: break-word;
    }
    
    .THIS .aboutYouSection {
        margin-top: 40px !important;
        margin-bottom: 0px !important;  
    }
}

.THIS .optionItem{
    display: table-cell;
    vertical-align: middle;
}